body {
    background-color: #19d5c3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body > div{
    font-size: 40px;
    background-color: darkcyan;
    border-radius: 5px;
    width : 60vw;
    height: auto;
    padding: 0px 10px 0px 10px;
}
h1{
    text-align: center;
    margin-bottom: 0px;
}
@media screen and (max-width:700px) {
    h1{
        font-size:1.1rem;
    }
    a{
        font-size: 0.9rem;
    }
}
ul{
    padding: 0 0 0 20px;
}
#anchor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}