html{
    font-size: 10px;
}
@media only screen and (max-width:700px ) {
    html{
        font-size: 8px ;
    }
}
body{
    font-size: 1.6rem;
    line-height:1.5 ;
    text-align: center;
    margin: 0;
}

#main{
    background-color: rgb(222, 213, 213);
    padding: 20px;
    margin: 20px 10px;
    border-radius: 3px;
    background: #eee;
}

@media screen and (max-width:700px){
    body{
        line-height: 1;
    }
    #main{
        padding: 10px;
        margin: 10px 5px;
    }
    div > h1{
        margin-top: 5px;
    }
    div > p{
        margin: 5px auto 10px auto;
    }
}
h1{
    font-size: 4rem;
    margin-bottom: 0;
}
figure{
    padding: 10px;
    background: white;
    margin: 0;
}
@media only screen and (max-width:700px ) {
    figure{
        padding: 5px;
    }
}
img{
    width: 60%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-caption {
    margin: 15px 0 5px 0;
}
#headline{
    margin: 50px 0;
    text-align: center;
}
@media screen and (max-width:700px) {
    #img-caption{
        margin: 7px 0 2px 0;
    }
    #headline{
        margin: 25px 0;
    }
}
ul{
    max-width: 550px;
    margin: 0px auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{
    margin: 16px 0;
}
blockquote{
    max-width: 545px;
    font-style: italic;
    margin: 0 auto 50px auto;
    text-align: left;
}
@media screen and (max-width:700px) {
    ul{
        padding: 0 0 0 20px;
        line-height: 1.3;
        margin: 0px auto 25px auto;
    }
    li{
        margin: 8px 0;
    }
    blockquote{
        width: 100%;
        margin: 0 auto 25px auto;
    }
}