
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(#1b1b32);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


body{
    background-color: rgb(94, 0, 128);
    color: white;
    font-size: 1.2em;
}
.header{
    width: 50%;
    margin:  30px auto;
    text-align: center;
    font-weight: bold;
}
h1{
    margin-bottom: -10px;
}
.description{
    font-style: italic;
    font-weight: lighter;
    
}
form{
    width:50%;
    margin: auto;
    background-color: rgb(24, 6, 33);
    padding: 3vw;
    border-radius: 5px;;
}
#survey-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-group{
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.form-group > p{
    margin-bottom: -2px;
    margin-top: 0px;
}
@media screen and (max-width:300px) {
    form{
        width: 100%;
    }
    .header{
        width: 90%;
    }
    h1{
        font-size: 1.6em;
    }
    .description{
        font-size: 1em;
    }
}
@media screen and (max-width:700px) {
    form{
        width: 80%;
    }
    .header{
        width: 80%;
    }
    h1{
        font-size: 1.6em;
    }
    .description{
        font-size: 1em;
    }
}
@media screen and (max-width:900px) {
    form{
        width: 70%;
    }
    .header{
        width: 70%;
    }
    h1{
        font-size: 1.9em;
    }
    .description{
        font-size: 1em;
    }
}
input,select,textarea,button{
    padding: 8px;
    font-size: 0.8em;
    border: none;
}
input, select{
    border-radius: 5px;
}
textarea{
    border-radius: 2px;
}
button{
    background-color: rgb(103, 240, 103);
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}